<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/admin/css/okadmin.css">
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
        <span class="layui-breadcrumb">
            <a><cite>首页</cite></a>
            <a><cite>会员管理</cite></a>
            <a><cite>用户列表</cite></a>
            <a><cite>添加用户</cite></a>
        </span>
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="userName" placeholder="请输入用户名" autocomplete="off" class="layui-input" lay-verify="required|userNameVerify">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号码</label>
            <div class="layui-input-block">
                <input type="text" name="userPhone" placeholder="请输入手机号码" autocomplete="off" class="layui-input" lay-verify="phone">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input type="text" name="userEmail" placeholder="请输入邮箱" autocomplete="off" class="layui-input" lay-verify="email">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="userPassword" placeholder="请输入密码" autocomplete="off" class="layui-input" lay-verify="required|userPassWdVerify">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block">
                <select name="isadmin">
                    <option value="0">管理员</option>
                    <option value="1">普通用户</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="userGender" value="1" title="男" checked>
                <input type="radio" name="userGender" value="0" title="女">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<!--js逻辑-->
<script src="/static/admin/lib/layui/layui.js"></script>
<script>
    layui.use(["element", "form", "laydate", "okLayer", "okUtils"], function () {
        var form = layui.form;
        var laydate = layui.laydate;
		var okLayer = layui.okLayer;
		var okUtils = layui.okUtils;



        form.verify({
            userNameVerify: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(!/^[a-zA-Z][a-zA-Z0-9_]{3,10}$/.test(value)){
                    return '用户名4-11位,只支持英文、数字,且数字不能在首位。';
                }
                if(/(^\_)|(\__)|(\_+$)/.test(value)){
                    return '用户名首尾不能出现下划线\'_\'';
                }
                if(/^\d+\d+\d$/.test(value)){
                    return '用户名不能全为数字';
                }
            }
            ,userPassWdVerify:[
                /^[a-zA-Z0-9_]{6,12}$/
                ,'密码必须6到12位，支持英文、数字'
            ]
        });

        form.on("submit(add)", function (data) {
            console.log(data.field)
			okUtils.ajax("/Admin/AdminRegister.do", "post", data.field).done(function (response) {
			    console.log(response)
                okLayer.msg.greenTick("添加成功", function () {
                    parent.layer.close(parent.layer.getFrameIndex(window.name));
                });
			}).fail(function (error) {
			    console.log(error)
			});
            return false;
        });
    })
</script>
</body>
</html>
