<style xmlns:th="http://www.w3.org/1999/xhtml">
    #logImg{
        width: 100%;
        height: 112px;
        margin-top: 5px;
        margin-bottom: 0px;
    }
    #tour{
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        line-height: 37px;
        padding-right: 20px;
    }
    #tour span a{
        display: block;
        color: white;
        float: right;
        margin-right: 8px;
    }
    #search{
        width: 100%;
        height: 55px;
        padding-top: 15px;
    }
    .search{
        width: 60%;
        margin:auto ;
        display: flex;
        /*border: 1px solid red;*/

    }
    .search input{
        background-color: #e0ffff;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        box-shadow: 0px 1px 1px rgba(0,0,0,0.6) inset;
        float: left;//左浮动
    flex: 4;
        height: 30px;
        outline: none;
        border: 1px solid #ffffff;
        box-sizing:border-box;
        width: 80%;//盒子模型，怪异IE盒子模型，width=content+border*2+padding*2
    padding-left: 10px;
    }
    .search button{
        float: right;
        flex: 1;
        height: 30px;
        background-color: red;
        color: white;
        border-style: none;
        outline: none;
    }
    .search button i{
        font-style: normal;
    }
    .search input:hover{
        background-color: #f0ffff;
    }
    .search button:hover{
        color: deepskyblue;
    }
    .mynav{
        background-color: #f5f5f5;
        min-width: 45px;
    }
    .mynav li a{
        color: black !important;
    }
    .main{
        float: right;
        margin-right: 8px;
    }
    #myImg{
        line-height: 37px;
        width: 30px;
        height: 30px;
        border: 1px #00bfff solid;
    }
</style>

    <div id="logImg">
        <img src="/static/imgs/logBJ.png" width="100%" height="100%">
    </div>
    <div id="tour" width="100%" style="background-color: #2a75ac;height: 37px;margin-top: 0px">
        <!--登录之后要变化-->
        <!--<span th:text="${session.userInfo.userName}">-->
        <span th:if="${session.userInfo} eq null"><a href="register_login.html">注册</a></span>
        <span th:if="${session.userInfo} eq null"><a href="register_login.html">登录</a></span>
        <span th:if="${session.userInfo} eq null"><a href="register_login.html">发帖</a></span>
        <span th:if="${session.userInfo} ne null"><a href="/logout.do">登出</a></span>
        <span th:if="${session.userInfo} ne null"><a href="public.html">发帖</a></span>
        <span th:if="${session.userInfo} ne null">
            <div class="btn-group main">
              <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   id="myImg" th:src="${session.userInfo.userImg}" onerror="javascript:this.src='/static/imgs/defult_img.jpg';">
              <ul class="dropdown-menu mynav">
                <li><a href="UserInfo.html">个人中心</a></li>
                <li><a href="/profile/questions.do">我的文章</a></li>
                <li><a href="/profile/replys.do">我的回复</a></li>
              </ul>
            </div>

        </span>
    </div>
    <div id ="search">
        <!--搜索框-->
        <form method="get" action="/search/AllSearch.html">
            <div class="search">
                <input type="text" style="padding-left: 5px" placeholder=" 文章标题,作者" name="keyword" />
                <button type="button" onclick="search();"><i>查询</i></button>
            </div>
        </form>
    </div>

<script>
    var  search = function() {
        var keyword = $("#search input[name='keyword']").val();
        if(keyword==""){
            layui.use('layer', function(){ //独立版的layer无需执行这一句
                var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
                //触发事件
                var active = {
                    setTop: function(){
                        var that = this;
                    }
                    ,confirmTrans: function(){
                        //配置一个透明的询问框
                        layer.msg('查询不能为空', {
                            time: 2000, //20s后自动关闭
                        });
                    }
                };
                active.confirmTrans();
            });
            return
        }
        $("#search form").submit();
    }
</script>

    <div style="width: 100%;height: 63px; background-color: deepskyblue"></div>


